
#title{
	text-align: center;
}

#movie_quotes{
	align-content: left;
}

body {
	text-align: center;
}

video {
	width:320px;
	height:240px;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
}

