#title{
	text-align: center;
}

body {
	text-align: center;
	width:400px;
	padding-right: 15%;
	padding-left: 15%;
}

#movie_quotes{
	text-align: center;
}

video {
	width:320px;
	height:240px;
	padding-top: 10px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 10px;
}

